.formation-grid {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 48px;
  grid-auto-rows: 1fr;
}

div.formation-description {
  background-color: white;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  transition: all 0.5s ease;
}

.formation-box {
  filter: drop-shadow(0px 4px 4px rgba(84, 63, 63, 0.25));
}

@media screen and (max-width: 900px) {
  .formation-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .formation-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

div.formation-description img {
  height: auto;
}

div.formation-description:hover {
  filter: drop-shadow(0px 4px 15px rgba(84, 63, 63, 0.25));
}
