div.container {
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
}

.first-page-content {
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.first-page-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  width: 50%;
}

.button {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #0d2b78;
  width: fit-content;
  padding: 20px;
}

.about-buttons {
  display: flex;
}

.about-buttons > a > .button {
  margin-right: 24px;
}

@media screen and (max-width: 400px) {
  .first-page-title {
    font-size: 42px;
  }
}
