div.container {
  height: calc(100vh - 100px);
}

.first-page-content {
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.container {
  display:flex;
  align-items: center;
}

.first-page-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  width: 40%;
}

.button {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #0d2b78;
  width: fit-content;
  padding: 20px;
}

.about-buttons {
  display: flex;
}

.about-buttons > div {
  margin-right: 24px;
}

@media screen and (max-width: 400px) {
  .first-page-title {
    font-size: 42px;
  }
}
