form {
  display: flex;
  flex-flow: column;
}

.form-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-content * {
  margin-bottom: 10px;
}

label {
  display: flex;
  flex-flow: column;
  gap: 0.75em;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  padding: 0.75em;
  width: fit-content;
  border: 1px solid black;
  height: 2rem;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  height: calc(100vh - 100px);
}

.login-container input[type="button"] {
  padding: 16px;
  background-color: var(--main-blue);
  border: 0;
  color: white;
}
