.formation-actions {
  display: flex;
  list-style: none;
  gap: 12px;
}

input[type="checkbox"] {
  margin-left: auto;
  margin-right: auto;
}

table {
  padding: 15px;
  background-color: #C4C4C4;
  width: 100%;
  border-collapse: collapse;
 
}

.formation-row {
  border-top: 1px solid #000;
  
}

.formation-title {
  font-size: 24px;
  font-weight: bold;
}

.solid {
  background-color: #C4C4C4;
  width: 130px;
  height: 100vh;
  align-items: flex-absolute;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  left: 0px;
}

button.add_formation_button {
  cursor: pointer;
  padding: 10px;
  border: none;
  color: var(--font-color);
  background-color: var(--main-blue);
}

.formation-action-buttons {
  display: flex;
  gap: 1.25rem;
}