html {
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', arial;
}


* {
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
}

.navbar {
    background-color: #DDDD;
    justify-content: space-between;
}

.navbar>* {
    align-items: center;
}

.title {
    margin: 0 0 0 .45em;
}

.title a {
    color: rgb(28, 24, 22);
}

.title,
.navigation {
    list-style: none;
}

.title a,
.navigation a {
    text-decoration: none;
}

.navigation {
    display: flex;
}

.navigation a {
    display: block;
    padding: 1em;
    color: black;
}

.navigation a:hover {
    background: rgba(151, 151, 151, 0.867);
}

/* *********** media queries *********** */
@media all and (max-width: 400px) {
    .flex-container {
        flex-direction: column;
    }

    .title {
        margin: 0;
    }

    .navigation {
        width: 100%;
        justify-content: space-around;
    }
}


/* ****** ****** */
@media all and (max-width: 300px) {

    .title {
        margin: .25em 0;
        align-self: left;
    }

    .navigation {
        flex-direction: column;
    }

    .navigation a {
        text-align: left;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

img {
    height: 70px;
  }

.div {
   display: flex; 
   justify-content: flex-end;
}

.para1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.para2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.button1{
    text-align: center;
    margin-left: 550px;
}