<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fr.allfont.net/allfont.css?fonts=abeezee" rel="stylesheet" type="text/css" />
    <title>FCPro</title>
</head>

<body>
    <div class="navbar">
        <div>
            <a href="#accueil">FCPro</a>
        </div>
        <div class="links">
            <a href="">Les formations</a>
            <a href="">A propos</a>
        </div>
    </div>
    <div class="container">
        <div class="center">
            <div class="content">
                <h1>Centre de formation FC Pro NDLP</h1>
                <p>Nous sommes un centre de formation existant depuis 1993, qui est géré par le lycée Notre Dame de la
                    Providence.</p>
            </div>
            <div class="button">
                <div><a href="#en_savoir_plus">En savoir plus</a></div>
                <div><a href="#contact">Contactez nous</a></div>
            </div>
        </div>
    </div>

</body>

</html>