<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href={{url_for('static', filename='style.css')}} rel="stylesheet">
		<title>FC PRO</title>
	</head>

	<body style="background-color: #dddd">
		<nav>
			<div class="flex-container navbar">
				<div class="left-content">
					<a href="#"
						><img src={{url_for('static', filename='logo-ndlp.png')}} alt="logo
						ndlp"></a
					>
					<p class="title">FC PRO</p>
				</div>

				<div class="">
					<ul class="navigation flex-container">
						<li><a href="#">Nos Formations</a></li>
						<li><a href="#">A propos</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div>
			<div class="wrapper flex-container">
				<div class="grid">
					<div class="left">
						<h1 class="para1">Centre de formation FC PRO NDLP</h1>
						<ul class="flex-container button">
							<li><a href="#">En savoir plus</a></li>
							<li><a href="#">Contactez nous</a></li>
						</ul>
					</div>
					<div class="right">
						<p>
							Nous sommes un centre de formation existant depuis 1993, qui est
							géré par le lycée Notre Dame de la Providence.
						</p>
					</div>
				</div>
				<div class="down-button"></div>
			</div>
		</div>
	</body>
</html>
