<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fr.allfont.net/allfont.css?fonts=abeezee" rel="stylesheet" type="text/css" />
    <link href={{url_for('static', filename='style.css')}} rel="stylesheet">
    <title>FC PRO</title>
</head>

<body style="background-color:#DDDD;">
    <div class="flex-container navbar">
        <div class="flex-container">
            <img src={{url_for('static', filename='logo-ndlp.png')}} alt="logo ndlp">
            <h1 class="logo"></a></h1>
            <h1 class="title"><a href="#">FC PRO</a></h1>
        </div>

        <div class="div ">
            <ul class="navigation flex-container">
                <li><a href="#">Nos Formations</a></li>
                <li><a href="#">A propos</a></li>
            </ul>
        </div>
    </div>

    <p class="para1">Centre de formation FC PRO NDLP</p><br>
    <p class="para2">Nous sommes un centre de formation 
        existant depuis 1993, qui est géré par le lycée Notre Dame de la Providence.</p>
    <div class="button"><button class=button1>En savoir plus</button> <button class="button2">Contactez-nous</button></div>
</body>

</html>