<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fr.allfont.net/allfont.css?fonts=abeezee" rel="stylesheet" type="text/css" />
    <link href="..\statics\css\style.css" rel="stylesheet">
    <title>FC PRO</title>
</head>

<body>
    <div class="flex-container">
        <img src="ndlp.png" alt="logo ndlp">
        <h1 class="logo"></a></h1>
        <h1 class="title"><a href="#">FC PRO</a></h1>
        <div class="div">
            <ul class="navigation">
                <li><a href="#">Nos Formations</a></li>
                <li><a href="#">A propos</a></li>
            </ul>
        </div>
    </div>

</body>

</html>