a {
  color: black;
  text-decoration: none;
}

.navbar {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-left img {
  width: 42px;
}

.navbar-left,
.navbar-right {
  display: flex;
}

nav div {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-left * {
  padding-right: 12px;
}

.navbar-right a {
  margin-left: 12px;
}
