a {
  color: black;
  text-decoration: none;
}

.navbar {
  position: relative;
  font-family: "Open Sans", sans-serif;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}

.navbar-left img {
  width: 42px;
}

.navbar-left,
.navbar-right {
  display: flex;
  gap: 24px;
}

nav div {
  display: flex;
  list-style: none;
  align-items: center;
}
